<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RideRental</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RideRental.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @using Microsoft.AspNetCore.Http
        @inject IHttpContextAccessor HttpContextAccessor

        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">RideRental</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (HttpContextAccessor.HttpContext.Session.GetString("UserEmail") == "admin@site.com")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="AllUsers">Users</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Bikes" asp-action="Index">Manage Bikes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="RentalRequests" asp-action="Logs">Rental Logs</a>
                            </li>
                        }
                        else if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "User")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Bikes" asp-action="UserDashboard">Browse Bikes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Bikes" asp-action="RentalHistory">Rental History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Bikes" asp-action="Recommended">Recommended</a>
                            </li>
                        }
                        @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="RentalRequests" asp-action="Index">Rental Requests</a>
                            </li>
                        }

                        @if (HttpContextAccessor.HttpContext.Session.GetString("UserEmail") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">@HttpContextAccessor.HttpContext.Session.GetString("UserEmail")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RideRental - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
